name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Release
  BOOST_VERSION: 1.83.0
  BOOST_PATH: ${{env.GITHUB_WORKSPACE}}/boost/boost

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache Boost
      id: cache-boost
      uses: actions/cache@v3
      with:
        path: ${{env.BOOST_PATH}}
        key: boost-${{env.BOOST_VERSION}}

    - name: Install Boost
      uses: MarkusJx/install-boost@v2.4.4
      id: install-boost
      with:
         boost_version: 1.83.0
         cached: true

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --target emulator_test --config ${{env.BUILD_TYPE}}

    - name: Run unit tests
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}
